body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#9e4d4d, #5f2e2e, #412020);
}

form{
    position: static;
    background-color: #9e4d4d;
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em;
    box-shadow: 0px 0px 20px #9e4d4d;
}

div.apresentacao{
    background-color: #9e4d4d;
    width:40%;
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 4em;
    box-shadow: 0px 0px 20px #9e4d4d;
    color: #fff;
    border-radius: 20px;
}

div.apresentacao .side1{
    width: 30%;
    height: 100%;
    border-right: 1px solid #0000002f;
    padding: 1em;
}

div.apresentacao .side2{
    width: 70%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

div.apresentacao .side2 .item_list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.apresentacao .side2 .item_list .s-1{
    width: 50%;
}


div.apresentacao .side2 .item_list .s-1 p{
    font-weight: bold;
}

div.apresentacao .side2 .item_list .s-1 p span{
    font-weight: normal;
    margin-left: 1em;
}

div.apresentacao .side1 img{
    object-fit: cover;
    width: 100%;
    height: auto;
    filter:invert();
    background-color: #fafafa2f;
    border-radius: 100%;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item label{
    font-size: 1.3em;
    margin-block: 0.8em;
    color: #fff;
}

.item .escolhas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.item .escolhas label{
    font-size: 0.5em;
    margin-block: 0.8em;
    color: #fff;
}

.item input[type=text]{
    font-size: 1em;
    color: #5e5e5e;
    outline-color: transparent;
    border-radius: 20px;
    padding: 0.3em;
    border: transparent;
    padding-left: 0.8em;
}

.item input[type=number]{
    font-size: 1em;
    color: #5e5e5e;
    outline-color: transparent;
    border-radius: 20px;
    padding: 0.3em;
    border: transparent;
    padding-left: 0.8em;
}

.item input[type=radio]{
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid white;
    width: 1.3em;
    height: 1.3em;
    border-radius: 100%;
    background-color: #9e4d4d;
    color: white;
}
.item input[type=radio]:checked{
    outline-offset: 0.1em;
    background-color: white;
}



.item .escolhas label{
    font-size: 1.3em;
    margin-block: 0.5em;
    margin-inline: 1em;
    color: #fff;
}

form p{
    color: white;
}

form button{
    font-size: 1.1em;
    margin-block: 1em;
    border-radius: 20px;
    padding: 1em;
    color: #fff;
    background: #9e4d4d;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px #ffffff48;
    cursor: pointer;
}

form button:hover{
    transform: scale(110%);
    filter: brightness(1.2);
}
